<div class="padding"></div>
<div class="row">
	<div class="col-xs-3">
		<input class="form-control" type="text" />
	</div>
	<div class="col-xs-2">
		<button type="botton" class="btn btn-default">Search</button>
	</div>
	<div class="col-xs-2"></div>
	<div class="col-xs-2">
		<div class="checkbox">
			<label>
				<input type="checkbox"> Auto Refresh
		    </label>
		</div>
	</div>
</div>
<div class="padding"></div>
<div class="row">
	<div class="col-xs-12">
		Current zone: 
		<span class="text-primary"><strong>{{.currentzone}}</strong></span>
		Current broker: 
		<span class="text-primary"><strong>{{.currentlogger}}</strong></span>
	</div>
</div>

<div class="padding"></div>
<div id="container" style="width:100%; height:600px;"></div>
<div class="padding"></div>

<!--绑定一些数据用于js调用-->
<input id="currentzone" type="hidden" value="{{.currentzone}}">
<input id="currentlogger" type="hidden" value="{{.currentlogger}}">
<input id="cpuData" type="hidden" value="{{.cpuData}}">
<input id="netData" type="hidden" value="{{.netData}}">
<input id="diskData" type="hidden" value="{{.diskData}}">
